*.class
*.txt
# Package Files #
*.jar
*.war
*.ear
# File del server
*.dat

# LionChat_beans
LionChat_Client/nbproject/private/
LionChat_Server/nbproject/private/
LionChat_Libs/nbproject/private/
LionChat_Client/build/
LionChat_Server/build/
LionChat_Libs/build/
LionChat_Client/dist/
LionChat_Server/dist/
LionChat_Libs/dist/
LionChat_Client/src/settings.txt
LionChat_Server/src/utenti/
