*.class

# Package Files #
#*.jar
#*.war
#*.ear

# Netbeans
NetClient/nbproject/private/
NetServer/nbproject/private/
NetLibz/nbproject/private/
NetClient/build/
NetServer/build/
NetLibz/build/
NetClient/src/settings.txt
