*.class

# Package Files #
*.jar
*.war
*.ear
# File del server
*.dat

# Netbeans
NetClient/nbproject/private/
NetServer/nbproject/private/
NetLibz/nbproject/private/
NetClient/build/
NetServer/build/
NetLibz/build/
NetClient/src/settings.txt
/NetLibz/dist/